.div-line {
    border-width: 1px;
    width: 90%;
}
.div-item {
    opacity: 0.8;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-item-up {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-item-down {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 10px;
}
.div-item:hover {
    background-color: #2C4A79;
}