.principal {
    padding-left: 20%;
}

.img {  
  justify-content: center;
  position: absolute;
  height: 90%;
  width: 80%;
  z-index: 11;
  background-size: cover;
}

.img::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%; 
  top:0px;
  right: 0px;
  z-index: -1;
  opacity: 0.1;
  background-image:url('../../assets/img/car-wireframe.png');
  background-repeat: no-repeat;
  background-size: cover;
}

select {
    z-index: 11
}

input {
    z-index: 11
}
