.banner {
    font-family: 'Lobster Two', cursive;
    text-align: right;
    font-size: 100px;
}

.div-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    background-color: #2C4A66;
    padding-right: 30px;
    padding-left: 30px;
}